<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
        <p class="side__about--text">This websites uses darksky weather api to fetch weather condition of places. To get longitude and latitude of place mapbox is used. HTML, CSS and Javascript are used for frontend and hbs is used for rendering dynamic contents. nodeJS is used for backend.</p>
    </div>
    
    {{>footer}}
</body>

</html>