<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="content">
            <p>Use this site to get your weather!</p>
            <form action="/weather" method="post">
                <input type="text" name="location" class="input-location" placeholder="Enter Location">
                <input type="submit" value="search" class="btn bg-color">
            </form>
        </div>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>